div#header
  input#txtPath(type="text")/
  button#btnChangePath Change path
  button#btnSavePath Save path

div#dashboard-main
  div#left-bar
    div#branches
    input#txtCommitTitle(type="text")/
    input#txtCommitMessage(type="text")/
    
  div#center
    div#diff
      h1 This is the diff section
    
    div#log
      h1 This is the log section
    
    div#console
      p This is the console
  
  div#right-bar
    p Right bar
