div#header
  div#repository
    input#txtPath(type="text")/
    div#btnChangePath.menu-button.tooltip.hidden
      i.fas.fa-pencil-alt
      span.tooltip-text Change path
    div#btnSavePath.menu-button.tooltip
      i.fas.fa-save
      span.tooltip-text Save path
      
  div#header-buttons
    div#btn-stage-all.menu-button.tooltip
      i.fas.fa-arrow-alt-circle-right
      span.tooltip-text Stage all
    div#btn-unstage-all.menu-button.tooltip
      i.fas.fa-arrow-alt-circle-left
      span.tooltip-text Unstage all
    div#btn-stash.menu-button.tooltip
      i.fas.fa-archive
      span.tooltip-text Stash
    div#btn-pull.menu-button.tooltip
      i.fas.fa-arrow-alt-circle-down
      span.tooltip-text Pull
    div#btn-pull.menu-button.tooltip
      i.fas.fa-arrow-alt-circle-up
      span.tooltip-text Push

div#dashboard-main
  div#left-bar
    // BRANCHES SECTION
    div#branches.section
      p.section-title Branches
      div.section-content
        div.accordion-header.collapsed
          i.fas.fa-tags/ Tags
        ul#tags.accordion-body
        
        div.accordion-header.collapsed
          i.fas.fa-desktop/ Local
        ul#localBranches.accordion-body
          
        div.accordion-header.collapsed
          i.fas.fa-cloud/ Remote
        div#remoteBranches.accordion-body
          
    // STASH section
    div#stash.section
      p.section-title Stash
      div.section-content
    
    // COMMIT SECTION
    div#commit.section
      p.section-title Commit
      div.section-content
        input#txtCommitTitle(type="text" placeholder="Commit summary")/
        textarea#txtCommitMessage(type="text" placeholder="Commit description")/
        button#btnCommit.btn.btn-primary Commit
    
  div#center
    div#files
      // WIP SECTION
      div.section.file-list
        p.section-title Work in progress
        div#wip.section-content
          
      // STAGING SECTION
      div.section.file-list
        p.section-title Staging area
        div#staging.section-content
      
    // STASH FILES SECTION
    div#stash-files.section.hidden
      div.section-title
      div.section-content
    
    // DIFF SECTION
    div#diff.section
      div.section-title Diff section
      div.section-content
    
    // LOG SECTION
    div#log.section.hidden
      div.section-title Log
      div.section-content
        h1 This is the log section
      
div#terminal.hidden
  div#terminal-header
    span Terminal
    i#btnMinimizeTerminal.far.fa-window-minimize
    
  div.terminal-body alejandro@alePC:~/workspace/silver-git$

div#footer
  div#open-terminal
    i.fas.fa-terminal
  div#current-branch
    i.fas.fa-code-branch
    span

script(src="scripts/dashboard.js")
