div#header
  input#txtPath(type="text")/
  button#btnChangePath.hidden Change path
  button#btnSavePath Save path

div#dashboard-main
  div#left-bar
    ul#branches
      li 
        i.fas.fa-desktop/ Local
        ul#localBranches
      li
        i.fas.fa-cloud/ Remote
        ul#remoteBranches
      li
        i.fa.fa-tags/ Tags
        ul#tags
    input#txtCommitTitle(type="text" placeholder="Commit summary")/
    textarea#txtCommitMessage(type="text" placeholder="Commit description")/
    
  div#center
    div#diff
      h1 This is the diff section
    
    div#log.hidden
      h1 This is the log section
    
    div#console
      p This is the console
  
  div#right-bar
    p Right bar
    
  script(src="scripts/dashboard.js")
