body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

/******************************************************************************
 ****  dashboard
 *****************************************************************************/

#main {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  height: 30px;
  padding: 10px;
}

#dashboard-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#left-bar {
  display: flex;
  flex-direction: column;;
  flex-shrink: 0;
  padding: 10px;
  width: 300px;
}

#right-bar {
  flex-shrink: 0;
  margin: 10px;
  width: 300px;

  background-color: red;
}

#center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#diff {
  flex-grow: 1;
  margin: 10px 0;

  background-color: green;
}

#log {
  flex-grow: 1;
  margin: 10px;
}

#console {
  background-color: black;
  color: white;
  height: 155px;
  margin-bottom: 10px;
}

/******************************************************************************
 ****  header
 *****************************************************************************/

 #txtPath {
   width: 300px;
   margin-right: 10px;
 }


/******************************************************************************
 ****  left-bar section
 *****************************************************************************/

#branches {
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: yellow;
}

#branches i.fas {
  margin-right: 5px;
}

#branches li {
  list-style-type: none;
}

.currentBranch {
  font-weight: bold;
}

#txtCommitTitle {
  border: 0;
  height: 25px;
  margin-top: 10px;
  padding: 5px;
}

#txtCommitMessage {
  border: 0;
  height: 100px;
  margin-top: 10px;
  padding: 5px;
}
