body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.hidden {
  display: none !important;
}

/******************************************************************************
 ****  general
 *****************************************************************************/
/* Scrollbar */
::-webkit-scrollbar {
  background-color: #fafafa;
  height: 8px;
  width: 0;
  /* TODO: make track transparent */
  /* width: 8px; */
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

/* Buttons */
.btn {
  border: solid 1.3px black;
  border-radius: 1.5px;
  color: #fff;
  cursor: pointer;
  padding: 1px 3px;
  transition-duration: 0.1s;
}

.btn.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover:not(.disabled) {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover:not(.disabled) {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover:not(.disabled) {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Spinner */
.spinner {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.spinner.sm {
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.spinner-lg {
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.spinner:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #999;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spinner 1.2s linear infinite;
}

.spinner.sm:after {
  width: 20px;
  height: 20px;
}

.spinner.lg:after {
  width: 70px;
  height: 70px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Hoverable items */
.hoverable:hover {
  background-color: #e5e5e5;
}

.hoverable.selected {
  background-color: #e1e1e1;
}

/* Tooltip */
.tooltip {
  position: relative;
}

.tooltip-text {
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 3px;
  color: #ddd;
  font-size: 14px;
  width: 100px;
  padding: 5px 3px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 60px;
  visibility: hidden;
  z-index: 1;
}

.tooltip-text::before {
  border-bottom: 5px solid rgba(10, 10, 10, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 8px;
  top: -5px;
  width: 0;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Accordion pattern */
.accordion-header {
  cursor: pointer;
}

.accordion-body {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.accordion-header.collapsed+.accordion-body {
  height: 0;
}

/******************************************************************************
 ****  dashboard
 *****************************************************************************/
#main {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  align-items: center;
  /* background-color: #d3d3d3; */
  background-color: #ccc;
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-shrink: 0;
  height: 45px;
  justify-content: space-between;
  padding: 10px;
}

#dashboard-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 10px;
}

#center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Makes flex items children to shrink */
  min-width: 0;
}

#footer {
  background-color: #bababa;
  border-top: solid 1px #999;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  height: 25px;
  justify-content: space-between;
  padding: 0 10px;
}

#footer div {
  margin: auto 0;
}

#open-terminal {
  cursor: pointer;
  margin: auto 0;
}

#open-terminal i {
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 8px;
  padding: 3px;
}

#current-branch i.fas {
  margin-right: 5px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.section-title {
  font-size: 16px;
  margin: 5px 0;
}

.section-content {
  background-color: #fafafa;
  flex-grow: 1;
  position: relative;
}

/******************************************************************************
 ****  header
 *****************************************************************************/
#repository {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#txtPath {
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
  padding: 3px;
}

#header-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

.menu-button {
  border-radius: 3px;
  height: 36px;
  margin: 5px;
  padding: 8px;
  width: 36px;
}

.menu-button:hover {
  background-color: #bababa;
}

.menu-button i {
  font-size: 36px;
}

/******************************************************************************
 ****  left-bar section
 *****************************************************************************/
#left-bar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 300px;
}

#branches {
  list-style-type: none;
}

#branches .section-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

#branches .accordion-header {
  margin: 0;
  padding: 10px;
}

#branches .section-content>.accordion-header {
  background-color: #ccc;
}

#branches .section-content>.accordion-header:not(:first-child) {
  border-top: 1px solid #aaa;
}

#branches ul {
  margin: 0;
  padding: 0;
}

/* remote name */
#localBranches .accordion-header,
#remoteBranches .accordion-header {
  padding: 2px;
  position: relative;
}

#localBranches .accordion-header .fa-caret-down,
#localBranches .accordion-header .fa-caret-right,
#remoteBranches .accordion-header .fa-caret-down,
#remoteBranches .accordion-header .fa-caret-right {
  width: 10px;
}

#localBranches .accordion-header.collapsed .fa-caret-down,
#remoteBranches .accordion-header.collapsed .fa-caret-down {
  display: none;
}

#localBranches .accordion-header:not(.collapsed) .fa-caret-right,
#remoteBranches .accordion-header:not(.collapsed) .fa-caret-right {
  display: none;
}

.accordion-body.collapsed~.remote-name {
  display: none;
}

#branches .accordion-body {
  margin: 0;
  padding: 0;
}

#branches .accordion-body li {
  padding-left: 20px;
}

#branches ul li {
  padding: 2px;
}

#branches i.fas {
  margin-right: 5px;
}

#branches li {
  list-style-type: none;
}

.current-branch {
  font-weight: bold;
}

#stash div {
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 270px;
}

#stash div i.fas {
  margin-right: 5px;
}

#commit {
  flex-shrink: 0;
}

#commit .section-content {
  background-color: #ddd;
}

#txtCommitTitle {
  background-color: #fafafa;
  border: 0;
  height: 25px;
  font-size: 14px;
  padding: 5px;
  width: calc(100% - 10px);
}

#txtCommitMessage {
  background-color: #fafafa;
  border: 0;
  font-family: sans-serif;
  font-size: 14px;
  height: 150px;
  margin-bottom: -3px;
  margin-top: 10px;
  padding: 5px;
  resize: none;
  width: calc(100% - 10px);
}

#btnCommit {
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

/******************************************************************************
****  files section
*****************************************************************************/
#files {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 200px;
}

#stash-files {
  flex-shrink: 0;
  height: 190px;
}

#stash-files .section-content {
  overflow-y: scroll;
}

#wip, #staging {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.file-list {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  /* Makes flex items children to shrink */
  min-width: 0;
}

.file-list .section-content {
  overflow-y: scroll;
}

.file {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.file .path {
  text-overflow: ellipsis;
  overflow: hidden;
}

.file .path,
.file .name {
  margin: auto 0;
  white-space: nowrap;
}

.file>div {
  margin-left: 5px;
}

.file .btn {
  height: 18px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50px;
  width: 18px;
}

.file:hover .btn {
  top: 11px;
  transition: top 0.3s;
}

.file .path::before {
  border: 2px solid;
  border-radius: 3px;
  color: blue;
  content: 'M';
  display: inline-block;
  margin-right: 3px;
  text-align: center;
  width: 20px;
}

.untracked .path::before {
  border-color: orange;
  color: orange;
  content: '?';
}

.added .path::before {
  border-color: green;
  color: green;
  content: 'A';
}

.modified .path::before {
  border-color: blue;
  color: blue;
  content: 'M';
}

.deleted .path::before {
  border-color: red;
  color: red;
  content: 'D';
}

.renamed .path::before {
  border-color: brown;
  color: brown;
  content: 'R';
}

.copied .path::before {
  border-color: brown;
  color: brown;
  content: 'C';
}

.updated-unmerged .path::before {
  border-color: red;
  color: red;
  content: 'U';
}

/******************************************************************************
****  diff section
*****************************************************************************/
#diff {
  flex-grow: 1;
}

#diff .section-content {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.no-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.no-content div {
  color: #ccc;
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

.file-name {
  background-color: #ccc;
  font-weight: bold;
  padding: 10px;
}

.file-name:not(:first-child) {
  margin-top: 20px;
}

.chunk-header {
  border-bottom: 1px solid #aaa;
  color: #444;
  font-size: 14px;
  margin: 20px 0 10px 0;
  padding: 5px 10px;
}

.file-name+.chunk-header {
  margin-top: 10px;
}

.diff-line {
  font-family: monospace;
  margin: 0;
  padding-left: 10px;
  white-space: pre;
}

.line-added {
  background-color: #49b949;
}

.line-deleted {
  background-color: #e62727;
}

/******************************************************************************
****  Terminal section
*****************************************************************************/
#terminal {
  background-color: #fcfcfc;
}

#terminal-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
}

.terminal-body {
  background-color: black;
  color: white;
  font-family: monospace;
  height: 200px;
  margin: 0 5px;
  padding: 5px;
}

#btnMinimizeTerminal {
  cursor: pointer;
}